<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
  <div class="container">
    <% include ../partials/nav %>
    <% include ../partials/nav2 %>
  </div>

  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">ULABS works</h1>
        <p class="lead">Where students are safe while they learn.</p>
      </div>
    </div>

    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                src="https://soe.lau.edu.lb/images/ele-lab-electromech_and_power-body.jpg"
                alt="">
              <div class="card-body">
                <p class="card-text"><b>Alternating Current Circuits Lab</b><br>
                  Open Portal to begin lab exercise.</br>
                  
                  </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                src="https://cdn.shopify.com/s/files/1/0026/1138/0342/products/Science-lab-manual-9hard-bound_1024x.jpg?v=1527237992"
                alt="">
              <div class="card-body">
                <p class="card-text"><b>Lab Manual</b><br>The laboratory exercises for Electrical Networks 2 is outlined in this portal.</br>
                  </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                src="https://www.circuitlogix.com/images/misc/3DLabII.jpg"
                alt="">
              <div class="card-body">
                <p class="card-text"><b>Two Port Network</b><br>
                   Open and download ULABS works software.Follow the instructions provided 
                  by attached notepad file in zip folder.</br>
                  </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% include ../partials/footer %>
      <% include ../partials/scripts %>
</body>

</html>